# This is a basic workflow to help you get started with Actions

name: Request and Parse 100k Matches

# Controls when the workflow will run
on: 
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  set-environment:
    # The type of runner that the job will run on
    name: Set Environment
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Code
        uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
      
      
      - name: Put MSYS2_MinGW32 on PATH
        run: echo "C:/msys64/mingw32/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        
      - name: Put MSYS2 on PATH
        run: echo "C:/msys64" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        
      - name: Blank
        run: msys2.exe "pacman -Syuu"
